:root {
  /* Font families */
  --INTER_THIN: 'inter-thin';
  --INTER_LIGHT: 'inter-light';
  --INTER_REGULAR: 'inter-regular';
  --INTER_MEDIUM: 'inter-medium';
  --INTER_SEMI_BOLD: 'inter-semi-bold';
  --INTER_BOLD: 'inter-bold';
  --INTER_BLACK: 'inter-black';

  /* Dimensions */
  --DEFAULT_MAX_WIDTH: 1280px;

  /* Breakpoints */
  --BREAKPOINT_SM: 640px;
  --BREAKPOINT_MD: 768px;
  --BREAKPOINT_LG: 1024px;
  --BREAKPOINT_XL: 1280px;
  --BREAKPOINT_2XL: 1536px;
  --BREAKPOINT_3XL: 1920px;
}

.dark-theme {
  --BLACK: #000000;
  --BLUE: #5380ea;
  --BLUE-800: #004bff;
  --GREY-600: #d1d5db;
  --GREY-900: #f9fafb;
  --WHITE: #ffffff;
  --TRANSPARENT: TRANSPARENT;
  --DARK-900: #030712;
}
