:root {
   /* Font families */
  --INTER_THIN: 'custom-font-thin';
  --INTER_LIGHT: 'custom-font-light';
  --INTER_REGULAR: 'custom-font-regular';
  --INTER_MEDIUM: 'custom-font-medium';
  --INTER_SEMI_BOLD: 'custom-font-semi-bold';
  --INTER_BOLD: 'custom-font-bold';
  --INTER_BLACK: 'custom-font-black';

  /* Colors */
  --BLACK: #000000;
  --BLUE: #5380EA;
  --BLUE-800: #004BFF;
  --GREY-600: #D1D5DB;
  --GREY-900: #F9FAFB;
  --WHITE: #FFFFFF;
  --TRANSPARENT: TRANSPARENT;
  --DARK-900: #030712;

  /* Dimensions */
  --DEFAULT_FONT_SIZE: 16px;
  --DEFAULT_MAX_WIDTH: 1280px;
}

html,
body,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--DARK-900);
}

main {
  margin: 0 auto;
  max-width: var(--DEFAULT_MAX_WIDTH);
}