.container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 74px);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 46.875rem;
  row-gap: 0.5rem;
}

.fullName {
  margin: 0;
  color: var(--GREY-900);
  font-family: var(--INTER_SEMI_BOLD);
  font-size: 3.75rem;
  letter-spacing: 0.03125rem;
  line-height: 4.5rem;
}

.title {
  color: var(--GREY-900);
  font-family: var(--INTER_LIGHT);
  font-size: 2.25rem;
  line-height: 2.75rem;
}

.title strong {
  color: var(--BLUE);
  font-family: var(--INTER_REGULAR);
  text-shadow: 0px 0px 0.475rem var(--blue-800);
}

.subtitle {
  color: var(--GREY-600);
  font-family: var(--INTER_LIGHT);
  font-size: 1rem;
  line-height: 1.5rem;
}

.subtitle strong {
  color: var(--white);
  font-family: var(--INTER_REGULAR);
}

.buttonWrapper {
  margin: 2.5rem 0;
}

.getResumeButton {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
  min-height: 0;
  padding: 0.9375rem 1.25rem;
  background-color: transparent;
  border: 0.25rem solid var(--BLUE-800);
  border-radius: 1.5625rem;
  box-shadow: 0px 0px 0.475rem 0px var(--BLUE-800);
  color: var(--GREY-600);
  font-family: var(--INTER_MEDIUM);
  font-size: 0.875rem;
  letter-spacing: 0.03125rem;
  line-height: 150%;
  cursor: pointer;
}

.getResumeButton:hover {
  color: var(--WHITE);
}
