.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.heading {
  border-bottom-left-radius: px-to-rem(12);
  border-bottom-right-radius: px-to-rem(12);
  color: var(--GREY-600);
  font-family: var(--INTER_LIGHT);
  font-size: px-to-rem(24);
  line-height: px-to-rem(32);
  padding: px-to-rem(4) px-to-rem(20);
  border-bottom-width: px-to-rem(12);
  border-image: linear-gradient(90deg, var(--BLUE-800), var(--BLUE));
  text-align: center;
}

.content {
  margin: 0 auto;
}

.description {
  color: var(--GREY-600);
  font-size: px-to-rem(16);
  font-family: var(--INTER_LIGHT);
  line-height: px-to-rem(24);
  margin: px-to-rem(20) 0;
}
